fastapi
uvicorn[standard]
pydantic
requests
celery
pymongo
python-dotenv
bson
redis
transformers
scikit-learn
spacy
bertopic
sentence-transformers
elasticsearch
faiss-cpu
gunicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
prometheus-client
torch
psycopg2-binary
alembic
